{% extends "admin/change_form.html" %}
{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
{% include inline_admin_formset.opts.template %}
{% endfor %}


<fieldset class="module">
<h2>Upload Photos</h2>
<input name="photos_multiple" type="file" multiple />
</fieldset>

{% for img in original.images.all %}
<li>
    <img src="/Images/{{ img }}" width="100" height="100"  />
    <input type="hidden" name="files[]" value="{{img.id}}" >
</li>

{% endfor %}
{% endblock %}
